<launch>
  	<node name="Init" pkg="drone" type="Init" output="screen" required="true"  launch-prefix="sudo -E"/>
	<node name="Ecrit" pkg="drone" type="Ecrit" output="screen" required="true"  launch-prefix="sudo -E"/>
  	<node name="Capteurs" pkg="drone" type="Capteurs" output="screen" required="true" launch-prefix="sudo -E nice -n -20"/>
  	<node name="Servos" pkg="drone" type="Servos" output="screen" required="true" launch-prefix="sudo -E nice -n -20"/>
  	<node name="Clavier" pkg="drone" type="Clavier" output="screen" required="true" launch-prefix="sudo -E"/>
 	<node name="Altitude" pkg="drone" type="Altitude" output="screen" required="true" launch-prefix="sudo -E"/>
	<node name="Gps" pkg="drone" type="Gps" output="screen" required="true" launch-prefix="sudo -E"/>
</launch>
